<article>
  <div>
    <div>
      <a href="/post">{{title}}</a>
    </div>
    <div>
      Posted by {{user.username}} on {{format_date created_at}} | {{comment.length}} {{format_plural comment.length}}
    </div>
  </div>
</article>